@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
  body {
    font-family: "Poppins", sans-serif;
    min-height: 300vh;
  }
}
 * {
  margin: 0;
  padding: 0;
}
.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to{
    background-position-x: -200% ;
  }
}
.hxt{
  background-color: yellow;
}
// body{
//   height: 500vh;
// }
.zoom-enter .content {
  opacity: 0;
  transform: scale(0.5);
}
.zoom-enter-active .content {
  opacity: 1;
  transform: scale(1);
}
.zoom-exit .content {
  opacity: 1;
}
.zoom-exit-active .content {
  opacity: 0;
  transform: scale(0.5);
}
// Fade

.fade-enter .tooltip {
  opacity: 0;
}
.fade-enter-active .tooltip {
  opacity: 1;
}
.fade-exit .tooltip {
  opacity: 1;
}
.fade-exit-active .tooltip {
  opacity: 0;
}
.toggle-input {
  /* visually hidden but still accessible */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.youtube-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 25px;
}
.youtube-image {
  height: 250px;
  margin-bottom: 15px;
}
.youtube-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.youtube-footer {
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
}
.youtube-avatar {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}
.youtube-title {
  font-size: 14px;
  color: #999;
  font-weight: 300;
}

// .container {
//   background: linear-gradient(100deg, rgb(182, 40, 111) 50%, #ac2066 0);
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .app-wrapper {
//   background-color: #292f38;
//   width: 25%;
//   min-width: 450px;
//   height: 600px;
//   padding: 30px;
//   box-sizing: border-box;
//   border-radius: 5px;
//   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
// }

// .header h1 {
//   color: #ccc;
//   font-weight: 300;
//   text-align: center;
//   margin: 50px 20px 60px 20px;
//   font-family: 'Josefin Slab', serif;
// }

// .main {
//   display: flex;
//   flex-direction: column;
//   align-items: space-between;
//   margin-bottom: 50px;
//   width: 100%;
// }

// .form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   margin-bottom: 10px;
// }

// .list {
//   width: 90%;
//   margin: auto;
//   max-height: 300px;
//   overflow: hidden;
//   overflow-y: auto;
// }

// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   border-radius: 10px;
//   background-color: #aaa;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #444;
//   border-radius: 10px;
// }

// .task-input {
//   width: 350px;
//   min-width: 250px;
//   padding: 15px 10px 10px 20px;
//   margin-right: 10px;
//   font-family: 'Josefin Sans', serif;
//   font-size: 15px;
//   color: #ccc;
//   background-color: #1d222b;
//   border: 1px solid #444;
//   outline: none;
//   border-radius: 20px;
//   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
// }

// .buttons {
//   display: flex;
// }

// .btn {
//   margin: 10px;
// }

// .add-task-btn {
//   min-width: 100px;
//   background-color: #790e43;
//   color: #ccc;
//   border: none;
//   font-family: 'Montserrat', sans-serif;
//   font-size: 14px;
//   border-radius: 20px;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
//   outline: none;
//   cursor: pointer;
// }

// .list-item {
//   display: flex;
//   flex-wrap: nowrap;
//   justify-content: space-between;
//   margin: 20px 0;
//   padding-bottom: 5px;
// }

// .list-item span {
//   color: #999;
// }

// .task-btn {
//   cursor: pointer;
//   background-color: transparent;
//   border: none;
//   outline: none;
// }

// .btn-delete i {
//   font-size: 16px;
//   color: #999;
//   margin-right: 20px;
// }

// .btn-edit i {
//   font-size: 16px;
//   color: #999;
//   margin-right: 20px;
// }

// .clear-btn {
//   width: 100px;
//   height: 35px;
//   background-color: #790e43;
//   color: #ccc;
//   border: none;
//   font-family: 'Montserrat', sans-serif;
//   font-size: 14px;
//   border-radius: 20px;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
//   outline: none;
//   cursor: pointer;
// }

// .no-tasks {
//   color: #777;
//   text-align: center;
//   font-size: 18px;
//   margin-top: 20px;
// }
// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// * {
//   font-family: 'Poppins', sans-serif;
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// body {
//   background: #8758ff;
//   display: flex;
//   justify-content: center;
//   // align-items: center;
// }

// .App {
//   text-align: center;
// }

// h1 {
//   color: #fff;
//   margin-bottom: 0.5rem;
//   font-size: 1.75rem;
// }

// .TodoWrapper {
//   background: #1A1A40;
//   margin-top: 5rem;
//   padding: 2rem;
//   border-radius: 5px;
// }

// .TodoForm {
//   width: 100%;
// }

// .todo-input {
//   outline: none;
//   background: none;
//   border: 1px solid #8758ff;
//   padding: 0.5rem 1rem;
//   margin-top: 1rem;
//   margin-bottom: 2rem;
//   width: 300px;
//   color: #fff;
// }

// .todo-input::placeholder {
//   color: #ffffff4d;
// }

// .todo-btn {
//   background: #8758ff;
//   color: #fff;
//   border: none;
//   padding: 0.55rem;
//   cursor: pointer;
  
// }

// .Todo {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background: #8758ff;
//   color: #fff;
//   padding: 0.75rem 1rem;
//   border-radius: 5px;
//   margin-bottom: 1rem;
//   cursor: pointer;
// }

// .fa-trash {
//   margin-left: 0.75rem;
// }

// .completed {
//   color: #c5aeff;
//   text-decoration: line-through;
// }
 